body {
    height: 100%;
    margin:0;
    font-size: 15px;
    overflow-x:hidden;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}
/*
* NavBarw
*/
.navbar{
    margin-bottom: 0px;
    border-bottom: 2px solid #6e286a;
    background-color:#89c4c2;
    border-radius: 0 !important;
    overflow:hidden;
    height:64px;
}
.navbar a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:15px;
}
span{
    color:#f2f2f2;
}
.navbar img{
    float: right;
    margin-right:8px;
    list-style:none;
}
.navbar a:hover{
    background-color:#abebe4;
    color:#274744;
}
#menu{
    margin:-17px;
    color: #802f7b;
    font-size: 11px;
    font-weight: 500;
}
.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#5f235b;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
}
.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#ccc;
    display:block;
    transition:0.3s;
    font-family: 'Montserrat', sans-serif;

}
.side-nav a:hover{
    color:#fff;
    background-color: #b14daa
}
hr{
    width: 190px;
}
.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:20px;
    margin-left:50px;
}
.scootleFooter{
    text-align: center;
    background-color: #89c4c2;
    padding:20px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    color: #6e286a;    
}
#main{
    transition: margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
}
@media(max-width:568px){
    .navbar-nav{display:none}
}
@media(min-width:568px){
}
/*
*Parralax Images and Section
*/
.pimg1{
    margin-bottom: 0;
    background-image: url("../images/indexPage/ScootleWall1.png");
    min-height: 550px;
}
.pimg2{
    background-image: url("../images/indexPage/ScootleImage2.png");
    min-height: 400px;
}
.pimg3{
    background-image: url("../images/indexPage/ScootleImage3.png");
    background-attachment: fixed;
    min-height: 400px;
}
.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
.section{
    text-align: center;
    padding:50px 80px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
    border-bottom: 3px solid #89c4c2;
}
.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:rgb(29, 28, 28);
    font-size: 27px;
    letter-spacing: 8px;
    display: inline-block;
}
.rndLogo{
    position: absolute;
    top:20%;
    width:96%;
    text-align: center;
}
/*
* Images-about-page
*/
.images-dark{
    background-color: #282e34;
    height: 255px;
    text-align: center;
    align-items: center;
    margin: auto;
    /* display: inline; */
}
.image1{
    width: 300px;
    height: 225px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-top:15px;
}
.image1:hover .image1-s{
    width:300px;
    height: 225px;

}
.image1 img {
    display: block;
    width:300px;
    height:225px;
}
.image1-s{
    width:0px;
    height:225px;
    background: #6e286a75;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transition: 0.7s ease;
}
.image1-s h2{
    color: white;
    font-size: 20px;
    border: 3px solid white;
    padding: 10px 20px;
    margin-left: 4px;
}
.image1-s p{
    color: white;
}

.image2{
    width: 300px;
    height: 225px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-top:15px;

}
.image2:hover .image2-s{
    width:300px;
    height: 225px;

}
.image2 img {
    width:300px;
    height:225px;
}
.image2-s{
    width:0px;
    height:225px;
    background: #6e286a75;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
}
.image2-s h2{
    color: white;
    font-size: 20px;
    border: 3px solid white;
    padding: 10px 20px;
    margin-left: 4px;

}
.image2-s p{
    color: white;
}
.image3{
    width: 300px;
    height: 225px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-top:15px;
}
.image3:hover .image3-s{
    width:300px;
    height: 225px;

}
.image3 img {
    display: block;
    width:300px;
    height:225px;
}
.image3-s{
    width:0px;
    height:225px;
    background: #6e286a75;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
}
.image3-s h2{
    color: white;
    font-size: 20px;
    border: 3px solid white;
    padding: 10px 20px;
    margin-left: 4px;

}
.image3-s p{
    color: white;
}
.image4{
    width: 300px;
    height: 225px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-top:15px;    
}
.image4:hover .image4-s{
    width:300px;
    height: 225px;

}
.image4 img {
    display: block;
    width:300px;
    height:225px;
}
.image4-s{
    width:0px;
    height:225px;
    background: #6e286a75;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
}
.image4-s h2{
    color: white;
    font-size: 20px;
    border: 3px solid white;
    padding: 10px 20px;
    margin-left: 4px;

}
.image4-s p{
    color: white;
}
/*
*YE Page 
*/
.row{
    background: #282e34;
}
.col-xs-12{
    text-align: left;    
}
.col-xs-12 h2{
    color: #ddd;
}
.col-xs-12 p{
    margin-left: 10px;
    padding: 10px;
    color: #ddd;
}
.col-xs-12 img{
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}
.section-light{
    align-items: center;
    padding:50px 80px;

}




