body {
    height: 100%;
    margin:0;
    font-size: 15px;
    overflow-x:hidden;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}
/*
* NavBar
*/
hr{
    width: 190px;
}
.navbar{
    margin-bottom: 0px;
    border-bottom: 1px solid #6e286a;
    background-color:#89c4c2;
    border-radius: 0 !important;
    overflow:hidden;
    height:64px;

}
.navbar a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:15px;
}
.navbar img{
    float: right;
    margin-right:8px;
    list-style:none;
}
.navbar a:hover{
    background-color:#abebe4;
    color:#274744;
}
.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#5f235b;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
}
.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#ccc;
    display:block;
    transition:0.3s;
}
.side-nav a:hover{
    color:#fff;
}
.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:20px;
    margin-left:50px;
}
.scootleFooter{
    text-align: center;
    background-color: #89c4c2;
    padding:20px;
    margin-top: 0px;
    bottom: 0;
    width: 100%;
    color: #6e286a;
    border-top: 3px solid #6e286a;
}

#main{
    transition: margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
}
@media(max-width:568px){
    .navbar-nav{display:none}
}
@media(min-width:568px){
    /*.open-slide{display:none}*/
}
/*
*Parralax
*/
.pimg1{
    margin-bottom: 0;
    background-image: url("../images/ScootleWall1.png");
    min-height: 500px;
}
.pimg2{
    background-image: url("../images/ScootleImage2.png");
    min-height: 400px;
}
.pimg3{
    background-image: url("../images/ScootleImage3.png");
    background-attachment: fixed;
    min-height: 400px;
}
.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
.section{
    text-align: center;
    padding:50px 80px;
}
.section-light{
    background-color: #f4f4f4;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:rgb(29, 28, 28);
    font-size: 27px;
    letter-spacing: 8px;
}
.rndLogo{
    position: absolute;
    top:20%;
    width:96%;
    text-align: center;
}



